extends ../layout


block content
    .row
        .col-md-6
            h1 Food Inventory
        .col-md-6
            a(href="/products/add" class="btn btn-primary float-right") Add Item
        table.table
            thead
                tr
                    th Product Name
                    th Product Price
                    th Size
                    th Quantity
                    th Suggestions
            tbody
                each product in products
                    tr 
                        td=product.name
                        td=product.price
                        td=product.city
                        td=product.location
                        td=product.detail
                        td  
                            a(href="/products/delete/"+product._id    class="btn btn-danger") Delete
                            a(href="/products/edit/"+product._id    class="btn btn-info") Edit
                            a(href="/products/cart/"+product._id    class="btn btn-info ml-3") Add To Basket